.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-left {
  background: #f5f5f5;
  width: 40%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 150px;
  margin-bottom: 2rem;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 2rem;
  color: #555;
}

.input-email {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  outline: none;
}

.error-message {
  color: rgb(202, 50, 37);
  font-size: 0.8rem;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.btn-continue {
  background-color: #17a589;
  border: none;
  width: 100%;
  padding: 0.8rem 0;
  color: white;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.ou-text {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #888;
}

.btn-google,
.btn-facebook {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 0.7rem 0;
  margin-bottom: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: white;
}

.btn-google img,
.btn-facebook img {
  width: 20px;
  height: 20px;
}

.btn-facebook {
  border-color: #3b5998;
  color: #3b5998;
}

.forgot-link {
  color: #17a589;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  margin-top: auto;
}

.login-right {
  width: 60%;
  overflow: hidden;
}

.login-right img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
