.navbar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: #121212;
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  height: 420px;
  background-image: url('../../../../public/assets/header-back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 4px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links li a:hover {
  color: #25b19e;
}

.nav-links li a.active {
  color: #25b19e;
  border-bottom: 2px solid #25b19e;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.user-section button {
  background-color: #2e3a4e;
  border: none;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-section button:hover {
  background-color: #25b19e;
}
