<app-navbar></app-navbar>

<section class="actions-menu">
  <div class="action-group dashboard">
    <div class="action-card">
      <mat-icon>dashboard</mat-icon>
      <a routerLink="/dashboard" class="action-link">Dashboard</a>
    </div>
  </div>

  <div class="action-group clientes">
    <div class="action-card">
      <mat-icon>person</mat-icon>
      <a routerLink="/clientes" class="action-link">Ver Clientes</a>
    </div>
    <div class="action-card">
      <mat-icon>person_add</mat-icon>
      <a routerLink="/clientes/novo" class="action-link">Cadastrar Cliente</a>
    </div>
  </div>

  <div class="action-group agendamentos">
    <div class="action-card">
      <mat-icon>event</mat-icon>
      <a routerLink="/agendamentos/lista" class="action-link">Agendamentos</a>
    </div>
    <div class="action-card">
      <mat-icon>add_circle</mat-icon>
      <a routerLink="/agendamentos/novo" class="action-link">Novo Agendamento</a>
    </div>
  </div>
</section>

<section class="appointments-section">
  <h2>Agendamentos de hoje</h2>
  <div class="cards">
    <div class="card" *ngFor="let agendamento of agendamentosHoje">
      <div class="avatar"></div>
      <div class="info">
        <strong>{{ agendamento.nome }}</strong><br />
        <small>{{ agendamento.data }} - {{ agendamento.hora }}</small><br />
        <span
          class="package"
          [ngClass]="{
            basic: agendamento.pacote === 'Pacote básico',
            premium: agendamento.pacote === 'Pacote premium'
          }"
          *ngIf="agendamento.pacote"
        >
          <mat-icon
            [ngStyle]="{
              color: agendamento.pacote === 'Pacote básico' ? 'green' : agendamento.pacote === 'Pacote premium' ? 'purple' : 'inherit'
            }"
            >star</mat-icon
          >
          {{ agendamento.pacote }}
        </span><br />
        <p>{{ formatarServicos(agendamento.servicos) }}</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
