:host {
  display: block;
  background: #121212;
  color: white;
  font-family: 'Inter', sans-serif;
}

.hero {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.links-section {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  background-color: #191919;
  color: white;
}

.links-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  color: #25b19e;
}

.appointments-section {
  padding: 2rem;
}

.appointments-section h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.card {
  width: 30%;
  background: #f0f0f0;
  border-radius: 8px;
  color: #222;
  min-width: 250px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.avatar {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0;
}

.info strong {
  font-weight: 700;
}

.package.basic {
  color: #25b19e;
  font-weight: 600;
  font-size: 0.9rem;
}

.package.premium {
  color: #9968BF;
  font-weight: 600;
  font-size: 0.9rem;
}

.actions-menu {
  display: flex;
  justify-content: space-around;
  /* background-color: #1f1f1f; */
  padding: 2rem 1rem;
  border-radius: 8px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.action-card {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  gap: 0.75rem;
}

.action-card:hover {
  background-color: #25b19e;
  transform: translateY(-5px);
}

.action-link {
  color: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
}

.action-link:hover {
  text-decoration: underline;
}

.icon {
  font-size: 1.8rem;
}

.action-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

/* Diferentes cores para grupos */
.dashboard .action-card {
  background-color: #176ABC;
}

.dashboard .action-card:hover {
  background-color: #0051ff;
}

.clientes .action-card {
  background-color: #1ABC9C;
}

.clientes .action-card:hover {
  background-color: #00c190;
}

.agendamentos .action-card {
  background-color: #9968BF;
}

.agendamentos .action-card:hover {
  background-color: rgb(124, 39, 228);
}
